.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 20px;
	vertical-align: top;
    height: 200px;
    margin-bottom: 50px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
    position: relative;
}

.item {
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    background: rgb(171, 174, 190);
}

.thumbnail {
    position: relative;
    border-radius: 15px 50px;
    width: 250px;
    height: 250px;
    overflow-x: hidden;
    border: rgb(85, 91, 131) 3px solid;
    transition: transform .2s;
    box-shadow: -10px -5px #a2a3c4;
  }
  .thumbnail img {
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }

  .thumbnail::after {
      height: 30px;
  }

  .thumbnail:hover {
    transform: scale(1.5);
    z-index: 5;
    box-shadow: 0 0 #888888;
  }


.thumbnail-title{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(255, 255, 255, 0.6);
}

.thumbnail h4 {
    font-size: 100%;
    text-align: center;
    color: rgb(40, 36, 107);
}

.sign {
    text-align: right;
    font-size: 70%;
    padding-right: 1em;
}

.show {
    display: block;
}

.values {
    padding-left: 0.5em;
    font-size: 100%;
    padding-right: 0.5em;
}

.thumbnail-footer {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    background: rgba(255, 255, 255, 0.7);
}

.focus {
    z-index: 15;
    position: fixed;
    top: 10%;
    left: 10%;
}