.full {
    width:100%;
    height: auto;
    min-height: 100%;
    background: url('assets/img/section-bg2.jpg');
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto;
}

#close {
    width:auto;
    height:auto;
    background:#FFF;
    padding: 10px;
    margin-top: 1em;
    text-align: center;
    /*background: #777;*/
    box-shadow: 5px 10px 10px #777;
    transform: rotate(3deg);
    border-radius: 5px; 
}

a:hover {
    text-decoration: none;
}

/**POLAROID*/
.polaroid-image
 {
     background: white;
     /*display: inline;*/
     float: left;
     margin: 0 15px 30px;
     padding: 10px;
     text-align: center;
     text-decoration: none;
     -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 4px 6px rgba(0,0,0,.5);
     box-shadow: 0 4px 6px rgba(0,0,0,.5);
     -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     transition: all 0.5s ease-in-out;
     transform: all .5s ease-in-out;
     z-index:0;
     position:relative;
     -webkit-transform: rotate(-4deg);  
     -moz-transform: rotate(-4deg); 
     transform: rotate(-4deg);
     width: 40%;
     height: auto;
 }

.potrait {
    width: 30%;
}

 .polaroid-image:hover {
    z-index: 100;
    transform: scale(1.2);
    transform-origin: left center;
 }

 @media screen and (max-width: 700px) {
    .polaroid-image {
        width: 70%;
    } 
}
 
 .polaroid-image .footer {
     padding-top: 10px;
     padding-bottom: 0;
 }
 
 .polaroid-image img {
     width: 100%;
     height: auto;
    /* width: inherit;*/ 
 }



/*

.photo {
    padding: 10px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.focused {
    overflow-x: hidden;
    background: rgb(207, 209, 218);
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgb(43, 42, 42);
}

.close {
    padding: 1em;
    font-size: 110%;
    color:black;
}*/