.full {
    width:100%;
    height: auto;
    min-height: 100%;
    background: url('assets/img/section-bg2.jpg');
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto;
    padding-bottom: 2em;
}

.close-bar {
    width: 100%;
    height: auto;
}

#close {
    width:20%;
    height:auto;
    background:#FFF;
    padding: 10px;
    margin-top: 1em;
    text-align: center;
    /*background: #777;*/
    box-shadow: 5px 10px 10px #777;
    transform: rotate(5deg);
    border-radius: 5px; 
    position: absolute;
    right: 1%;
    z-index: 5;

}

a:hover {
    text-decoration: none;
}

.margin-top {
    margin-top: 2em;
}

/**POLAROID*/
.polaroid-image
 {
     background: white;
     /*display: inline;*/
     float: left;
     margin: 0 15px 30px;
     padding: 10px;
     text-align: center;
     text-decoration: none;
     -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 4px 6px rgba(0,0,0,.5);
     box-shadow: 0 4px 6px rgba(0,0,0,.5);
     -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     transition: all 0.5s ease-in-out;
     transform: all .5s ease-in-out;
     z-index:0;
     -webkit-transform: rotate(-4deg);  
     -moz-transform: rotate(-4deg); 
     transform: rotate(-4deg);
     width: 80%;
     height: auto;
 }

.potrait {
    width: 60%;
}

 .polaroid-image:hover {
    z-index: 100;
    position: relative;
    transform: scale(1.2);
    transform-origin: left center;
 }

 @media screen and (max-width: 700px) {
    .polaroid-image {
        width: 70%;
    } 
}
 
 .polaroid-image .footer {
     padding-top: 10px;
     padding-bottom: 0;
 }
 
 .polaroid-image img {
     width: 100%;
     height: auto;
    /* width: inherit;*/ 
 }

 .footer {
    width: 100%;
    height: auto;
    padding: 0;
}

.polaroid-image h4 {
    font-size: 100%;
    text-align: center;
    color: rgb(80, 80, 80);
    margin-top: 0.5em;
    width: 100%;
}

 .sign {
    width: inherit;
    text-align: right;
    font-size: 80%;
    padding-top: 0.5em;
    padding-right: 1em;
    text-align: right;
    color: rgb(131, 131, 131);
}

.values {
    width: inherit;
    /*position: relative;*/
    left: 0;
    right: 0;
    padding-top: 0.5em;
    font-size: 70%;
    color: rgb(55, 55, 55);
}

.left {
    text-align: left;
}

.tab {
    padding-left: 1em;
}

/**TEXT*/

.title-text {
    color: grey;
    font-size: 80%;
}

#text {
    z-index: 5;
    width:100%;
    height:auto;
    background:#FFF;
    padding: 1em;
    box-shadow: 3px 7px 8px #777;
    transform: rotate(2deg);
    border-radius: 3px;
    word-wrap: break-word;
}

#comments {
    z-index: 5;
    width:100%;
    height:auto;
    background:#FFF;
    padding: 1em;
    box-shadow: 3px 7px 8px #777;
    /*transform: rotate(3deg);*/
    border-radius: 3px; 
}
