.full {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    max-width: 100%;
    background: rgba(34, 34, 34, 0.6);
}

.photo {
    padding: 10px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.focused {
    overflow-x: hidden;
    background: rgb(207, 209, 218);
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 0 0 10px 5px rgb(43, 42, 42);
}

.close {
    padding: 1em;
    font-size: 110%;
    color:black;
}