<!-- todo set thumbnail in item bg -->
<div (mouseenter)="mouseIn(item.id);" (mouseleave)="mouseOut(item.id);">
  <img #thumbnail [src]="item.thumbnail" alt="thumbnail" class="thumbnail">
  <div #titleThumbnail class="title-thumbnail">
    {{ item.title }}
  </div>
  <div class="item" (click)="focus(item.id)">
    <div class="score-label">
      <i class="score">{{ item.score }}</i>
    </div>
    <div class="num_comments-label ">
      <i class="num_comments">{{ item.num_comments }}</i>
    </div>
    <div class="selftext">
      {{ item.selftext }}
    </div>
    <div class="comments">
      comments list
    </div>
  </div>
</div>
<div class="sign">
  Posted by <strong class="author">{{ item.author }}</strong> in <i class="created">{{ date | date:'mediumDate' }}</i>
</div>
