

<header></header>


 <section id="body">

    <search-bar (search)="onSearch($event)" (itemsNum)="onNumPage($event)"></search-bar>

    <items [items]="items"></items>
    
    <div class="container">
        <div class="row">
            <div class="col-6-sm right">
                <a class="prev" (click)="preview()">< Prev</a>
            </div>
            <div class="col-6-sm left">
                <a class="next" (click)="next()">Next ></a>
            </div>
        </div>
    </div>
    
 </section>


<div class="fog" [class.hidden]="loaded">
    <div class="loader"></div>
</div>


