

<header (goToBody)="onMove($event)"></header>


 <section #body id="body">

    <search-bar 
        (search)="onSearch($event)" 
        (itemsNum)="onNumPage($event)"
        (sortScore)="sortByScore()"
        (sortComments)="sortByComments()"
    ></search-bar>

    <items *ngIf="items" [items]="items.slice(0, itemsInPage)"></items>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-xs-offset-2 col-sm-1 col-sm-offset-3 move-btn prew">
                <a (click)="preview()">< Prev</a>
            </div>
            <div class="col-xs-3 col-xs-offset-2 col-sm-1 col-sm-offset-3 move-btn next">
                <a (click)="next()">Next ></a>
            </div>
        </div>
    </div>
    
 </section>

 <footer></footer>


<div class="fog" [class.hidden]="loaded">
    <div class="loader"></div>
</div>


