
<div class="container">
    <div class="row">
        <div *ngFor="let item of items">
            <span class="col-sm-4">
                <item [item]="item"></item>
            </span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6 right">
            <a class="prev" (click)="preview()">< Prev</a>
        </div>
        <div class="col-xs-6 left">
            <a class="next" (click)="next()">Next ></a>
        </div>
    </div>
</div>

