
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  font-size: 22px;
  scroll-behavior: smooth;
}

#header {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(assets/img/head-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#body {
  position: absolute;
  top: 100%;
  width:100%;
  height: auto;
}

#reddit-alien {
  z-index: 1;
  position: absolute;
  height: 10%;
  bottom: 1%;
  left: 1%;
}

.read-button {
  z-index: 2;
  position: absolute;
  bottom: 10%;
  right: 20%;
  margin-left: -10%;
  margin-right: -10%;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
 /* border: 3px solid rgb(255, 145, 0);
  border-radius: 15px;*/
  box-shadow: 5px 5px black;
}

#page-title {
  z-index: 1;
  position: absolute;
  top: 30%;
  right: 10%;
  width: auto;
  margin-left: -20%;
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  color:rgb(255, 255, 255);
  text-shadow: 3px 3px black;

}